<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="ExampleDataEntities" connectionString="metadata=res://*/Database.ExampleModel.csdl|res://*/Database.ExampleModel.ssdl|res://*/Database.ExampleModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\Database\ExampleData.mdf;integrated security=True;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>